.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
    margin-top: 60px;
}

.cardItem {
    display: flex;
}

.btn-go {
    width: 100%;
    min-height: 200px;
    background-color: white;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 30px;
}

.btn-go:hover {
   color: #0d0422;
   font-size:20px;
   
}

.go {
    color: black;
    padding: 10px;
    border-radius: 20px;
}