.head {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;

  color:red;
  text-align:center;
  
}


.world{
     font-size:40px;
}
.navv{
     background-color:white;
     box-shadow: 5px 5px 10px black;
   
}

